<app-event-card-image></app-event-card-image>
<!-- {{ sportEvent.id }} -->

<div class="content">
  <div class="content__title">
    <h3>{{ sportEvent.name }}</h3>
    <span class="content__title__price">{{ price }}</span>
  </div>
  <span>{{ displayDate(sportEvent.startTime, sportEvent.endTime) }}</span>

  <div>
    @for (tag of sportEvent.tags; track tag) {
      <app-chip [value]="tag"></app-chip>
    }
  </div>

  <span>Ergo Arena</span>
</div>

<!-- {{ sportEvent.description }} -->
<!-- {{ sportEvent.location }} -->
