:host {
  display: flex;
  align-items: center;
  flex-direction: column;

  app-event-card {
    margin: 12px 0;
  }

  .loader-wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
  }
}